<link rel="stylesheet" href="/stylesheets/base.css">
<link rel="stylesheet" href="/stylesheets/fonts.css">
<nav class = "navigation">
    <img class = "naviation__logo" src="./images/logo.png" >
    <ul class = "navigation__links">
        <li class = "navigation__item"><a href="/students">Students</a></li>
        <li class = "navigation__item"><a href="/notes">Notes</a></li>
        <li class = "navigation__item"><a href="/">Home</a></li>
    </ul>
</nav>